@{
    Layout = null;
    int PageCurrent = 0;
    int PageError = 0;
    int PageFormatError = 0;
    int PagePlus = 0;

}
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
    THỐNG KÊ ĐIỆN @ViewBag.ReportSita <br />Từ ngày @ViewBag.FromDate - @ViewBag.ToDate
</p>
<p style="text-align:left;font-family:'Times New Roman';font-size:15pt;font-weight:bold">
    <span>TỔNG SỐ MAWB:</span> <span style="color:red">@ViewBag.TotalRecord</span>
    <span>TỔNG SỐ @ViewBag.ReportSita:</span> <span style="color:red">@ViewBag.SumDelivery</span>
    <span>TỔNG SỐ ĐIỆN @ViewBag.ReportSita CHUẨN:</span> <span style="color:red">@ViewBag.SumSita</span>
    <span>TỔNG SỐ ĐIỆN @ViewBag.ReportSita SAI:</span> <span style="color:red">@ViewBag.SumSitaError</span>    
</p>
<table style="width:100%" border="0">
    <tr>
        <td>

            <table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14pt">


                <thead>
                    <tr style="background-color:cadetblue;color:black;font-weight:bold">
                        <th colspan="4">DANH SÁCH ĐÃ GỬI ĐỦ ĐIỆN @ViewBag.ReportSita</th>
                    </tr>
                    <tr style="background-color:yellow;color:black;font-weight:bold">
                        <th align="center" class="all" style="width:3%">STT</th>
                        <th style="width:50%;background-color:yellow !important;text-align:center">SỐ VẬN ĐƠN CHỦ</th>
                        <th style="width:20%;text-align:center">SL</th>
                        <th style="width:20%;text-align:center">@ViewBag.ReportSita</th>
                    </tr>
                    <tr style="background-color:yellow;color:black;font-weight:bold">
                        
                        <th colspan="2" style="width:50%;background-color:yellow !important;text-align:center">TỔNG SỐ:</th>
                        <th colspan="2" style="width:20%;background-color:yellow !important;text-align:center">@ViewBag.TotalSitaSuccess</th>
                      

                    </tr>

                </thead>
                <tbody>
                    @foreach (var row in (IList<Web.Portal.Layer.Sita>)ViewData["SitaSuccess"])
                    {
                        PageCurrent += 1;

                        <tr>
                            <td align="center">@PageCurrent</td>
                            <td>@Html.DisplayTextFor(model => row.MAWB)</td>
                            <td align="center">@Html.DisplayTextFor(Model => row.Quantity)</td>
                            <td align="center">@Html.DisplayTextFor(model => row.SitaSend)</td>



                        </tr>
                    }
                </tbody>

            </table>
        </td>
        <td>
            <table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14pt">


                <thead>
                    <tr style="background-color:darkred;color:white;font-weight:bold">
                        <th colspan="4">DANH SÁCH GỬI THIẾU ĐIỆN @ViewBag.ReportSita</th>
                    </tr>
                    <tr style="background-color:yellow;color:black;font-weight:bold">
                        <th align="center" class="all" style="width:3%">STT</th>
                        <th style="width:50%;text-align:center">SỐ VẬN ĐƠN CHỦ</th>
                        <th style="width:20%;text-align:center">SL</th>
                        <th style="width:20%;text-align:center">@ViewBag.ReportSita</th>
                    </tr>
                    <tr style="background-color:yellow;color:black;font-weight:bold">
                        <th colspan="2" style="width:50%;background-color:yellow !important;text-align:center">TỔNG SỐ:</th>
                        <th colspan="2" style="width:20%;background-color:yellow !important;text-align:center">@ViewBag.TotalSitaError</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in (IList<Web.Portal.Layer.Sita>)ViewData["SitaError"])
                    {
                        PageError += 1;

                        <tr>
                            <td align="center">@PageError</td>
                            <td >@Html.DisplayTextFor(model => row.MAWB)</td>
                            <td align="center">@Html.DisplayTextFor(Model => row.Quantity)</td>
                            <td align="center">@Html.DisplayTextFor(model => row.SitaSend)</td>



                        </tr>
                    }
                </tbody>

            </table>
        </td>
        <td>

            <table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14pt">


                <thead>
                    <tr style="background-color:#b412d8;color:white;font-weight:bold">
                        <th colspan="4">DANH SÁCH GỬI THỪA ĐIỆN @ViewBag.ReportSita</th>
                    </tr>
                    <tr style="background-color:yellow;color:black;font-weight:bold">
                        <th align="center" class="all" style="width:3%">STT</th>
                        <th style="width:50%;text-align:center">SỐ VẬN ĐƠN CHỦ</th>
                        <th style="width:20%;text-align:center">SL</th>
                        <th style="width:20%;text-align:center">@ViewBag.ReportSita</th>

                    </tr>
                    <tr style="background-color:yellow;color:black;font-weight:bold">

                        <th colspan="2" style="width:50%;background-color:yellow !important;text-align:center">TỔNG SỐ:</th>
                        <th colspan="2" style="width:20%;background-color:yellow !important;text-align:center">@ViewBag.TotalSitaPlus</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in (IList<Web.Portal.Layer.Sita>)ViewData["SitaSplus"])
                    {
                        PagePlus += 1;

                        <tr>
                            <td align="center">@PagePlus</td>
                            <td>@Html.DisplayTextFor(model => row.MAWB)</td>
                            <td align="center">@Html.DisplayTextFor(Model => row.Quantity)</td>
                            <td align="center">@Html.DisplayTextFor(model => row.SitaSend)</td>



                        </tr>
                    }
                </tbody>

            </table>
        </td>
        <td>

            <table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14pt">


                <thead>
                    <tr style="background-color:red;color:white;font-weight:bold">
                        <th colspan="3">DANH SÁCH ĐIỆN @ViewBag.ReportSita BỊ LỖI</th>
                    </tr>
                    <tr style="background-color:yellow;color:black;font-weight:bold">
                        <th align="center" class="all" style="width:3%">STT</th>
                        <th style="width:30%;text-align:center">SỐ VẬN ĐƠN CHỦ</th>
                        <th style="width:65%;text-align:center">LỖI</th>                       
                    </tr>                    
                </thead>
                <tbody>
                    @foreach (var row in (IList<Web.Portal.Layer.SitaError>)ViewData["SitaFormatError"])
                    {
                        PageFormatError += 1;

                        <tr>
                            <td align="center">@PageFormatError</td>
                            <td>@Html.DisplayTextFor(model => row.MAWB)</td>
                            <td>@Html.DisplayTextFor(model => row.Error)</td>
                           
                        </tr>
                    }
                </tbody>

            </table>
        </td>
    </tr>
</table>


