@{
    Layout = null;
    int rowIndex = 0;
}
<table id="tbl-hawb" class="table table-striped table-bordered table-advance table-hover">
    <thead>
        <tr>
            <th style="width:3%;text-align:center">
                STT
            </th>
            <th style="width:10%;text-align:center">
                BSX
            </th>
            <th style="width:10%;text-align:center">
                VỊ TRÍ
            </th>
            <th style="width:10%;text-align:center">
                NGÀY MUA VÉ
            </th>

            <th style="width:10%;text-align:center">
                CHECK IN
            </th>
            <th style="width:10%;text-align:center">
                BARRIER IN
            </th>
            <th style="width:10%;text-align:center">
                CHECK OUT
            </th>
            <th style="width:10%;text-align:center">
                BARRIER OUT
            </th>
            <th style="width:10%;text-align:center">
                ID
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var row in (IList<Web.Portal.Common.ViewModel.TicketStatusViewModel>)ViewData["listTruck"])
        {
            rowIndex += 1;

            <tr>
                <td  align="center">@rowIndex</td>

                <td  align="center">@Html.Raw(row.BSX)</td>
                <td align="center">@Html.Raw(row.Location== "GATEIN_T2" ? "Tầng 2" : "Tầng 1")</td>

                <td align="center">
                    @Html.Raw(row.Created.ToString("dd/MM/yyyy HH:mm"))
                </td>
                <td align="center">
                    @Html.Raw(row.CheckIn.HasValue? row.CheckIn.Value.ToString("dd/MM/yyyy HH:mm") : "")
                </td>
                <td align="center">
                    @Html.Raw(row.BarieIn.HasValue ? row.BarieIn.Value.ToString("dd/MM/yyyy HH:mm") : "")
                </td>
                <td align="center">
                    @Html.Raw(row.CheckOut.HasValue ?  row.CheckOut.Value.ToString("dd/MM/yyyy HH:mm") : "")
                </td>
                <td align="center">
                    @Html.Raw(row.BarieOut.HasValue ? row.BarieOut.Value.ToString("dd/MM/yyyy HH:mm") : "")
                </td>

                <td align="center">@Html.Raw(row.TicketID)</td>
              

            </tr>
        }
    </tbody>
</table>

<script>


    egovutil.CreateTableSort("#tbl-hawb", [[0, "asc"]], [

                { "orderable": false, "targets": 0 }
    ], true);
</script>
