
@{
    Layout = null;
    int PageCurrent = 0;
    string[] columns = (string[])ViewData["column"];
    System.Data.DataTable tableReport = ((System.Data.DataTable)ViewData["DataList"]);

}
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
    @ViewBag.Des
</p>
<p style="text-align:center;font-family:'Times New Roman';font-size:13pt;font-weight:bold;text-transform:uppercase">
    @ViewBag.FlightNumber
</p>
<p style="text-align:center;font-family:'Times New Roman';font-size:13pt;font-weight:bold;text-transform:uppercase">
    @ViewBag.TotalAwb
</p>



<table border="1" id="tbl-report">
    <thead>
        <tr>
            <th class="all" style="width:3%"></th>
            @foreach (var item in columns)
            {
                <th style="width:15%">@Html.DisplayTextFor(model => item) </th>

            }

        </tr>
    </thead>
    <tbody>
        @foreach (var row in (List<Web.Portal.Common.ViewModel.AWBPlanOnFlightViewModel>)ViewData["listAWB"])
        {
            PageCurrent += 1;

            <tr>
                <td>@PageCurrent</td>
                <td>@Html.Raw(row.AWB)</td>
                <td>@Html.Raw(row.PIECES_FWB)</td>
                <td>@Html.Raw(row.WEIGHT_FWB)</td>
                <td>@Html.Raw(row.PIECES_FFM)</td>
                <td>@Html.Raw(row.WEIGHT_FFM)</td>
                <td>@Html.Raw(row.PIECES_FHL)</td>
                <td>@Html.Raw(row.WEIGHT_FHL)</td>
                <td>@Html.Raw(row.Nature)</td>
                <td>@Html.Raw(row.SHC)</td>
                <td>@Html.Raw(row.Remark.Length > 100 ? row.Remark.Substring(0,100) + "..." : row.Remark)</td>
                @*<td>@Html.Raw(row.Remark.Length > 20 ? row.Remark.Substring(0,20) + "..." : row.Remark)</td>*@
                <td>@Html.Raw(row.CheckCondition)</td>

            </tr>
        }
        <tr>
            <td>Tổng</td>
            <td></td>
            <td>@ViewBag.TotalPiceAwb</td>
            <td>@ViewBag.TotalWeightAwb</td>
            <td>@ViewBag.TotalPiceFfm</td>
            <td>@ViewBag.TotalWeightFfm</td>
            <td>@ViewBag.TotalPiceFhl</td>
            <td>@ViewBag.TotalWeightFhl</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>
<div style="margin-top:200px;padding-top:50px;">
    <table style="width:100%;" border="0">
        <tr style="font-family:'Times New Roman';font-size:12pt;font-weight:bold;text-transform:uppercase">
            <td colspan="3" align="center"></td>
            <td colspan="6"></td>
            <td align="center"><strong>Người lập</strong></td>
        </tr>
    </table>

</div>

