@{
    Layout = null;
    int rowIndex = 0;

}

<div class='col-md-12 col-xs-12 margin-top-10'>
    <b style="text-align:right;font-size:20px">
        <span style="color:#006b99">TỔNG SỐ XE :</span> <span style="color:red">@ViewBag.Total </span>
    </b>
</div>
<table id="tbl-hawb" class="table table-striped table-bordered table-advance table-hover">
    <thead>
        <tr>
            <th style="width:3%;background-color:chartreuse !important">
                STT
            </th>
            <th style="width:10%;background-color:chartreuse !important">
                ID
            </th>
            <th style="width:10%;text-align:center;background-color:chartreuse !important">
                BIỂN SỐ XE
            </th>
            <th style="width:10%;text-align:center;background-color:chartreuse !important">
                LOẠI XE
            </th>
            <th style="width:10%;text-align:center;background-color:chartreuse !important">
                VỊ TRÍ
            </th>
            <th style="width:10%;text-align:center;background-color:chartreuse !important">
                THỜI GIAN VÀO
            </th>
            <th style="width:10%;text-align:center;background-color:chartreuse !important">
                
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var row in (IList<Web.Portal.Model.Models.tblTicketStatus>)ViewData["listTruck"])
        {
            rowIndex += 1;

            <tr>
                <td>@rowIndex</td>
                <td style="text-align:center">@Html.Raw(row.TicketUID)</td>
                <td style="text-align:center">@Html.Raw(row.BienSoXe)</td>
                <td style="text-align:center">
                    @Html.Raw(row.TicketType == 1 ? "VÉ NGÀY" : "VÉ THÁNG")
                </td>
                <td style="text-align:center">
                    @Html.DisplayTextFor(model => row.ActionValue)
                </td>
                <td style="text-align:center">
                    @Html.Raw(row.ActionDateTime)
                </td>
                <td>
                    <a href="#" data-ID="@Html.DisplayFor(model => row.TicketUID)" class="btn btn-lg truck-edit">
                        <i class="fa fa-check-circle"></i> Check out
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>





<script>
    $(".truck-edit").click(function () {
        egovutil.dlgConfirmAction("DIM CONFIRM?  ", "Bạn có muốn check out?", "/CallTruck/CheckOut/" + $(this).attr("data-id"), "callTruckAction.search();");
        Actionfocus.setFocus();
    });
    egovutil.CreateTableSort("#tbl-hawb", [[0, "asc"]], [

                { "orderable": false, "targets": 4 }
    ], true);
</script>
