<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>HỆ THỐNG TRA CỨU THÔNG TIN HÀNG HÓA</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" type="image/png" href="/favicon-new.png" />

    <style>
        .social-fix {
            list-style: none;
            width: 45px;
            position: fixed;
            left: 0;
            top: 30%;
            margin-top: -85px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0);
        }
    </style>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/Style/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Style/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Style/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Style/assets/global/plugins/icheck/skins/all.css">
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/Style/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/Style/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
  
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/Style/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/Style/assets/layouts/layout3/css/themes/blue-steel.min.css" rel="stylesheet" type="text/css" id="style_color" />
  
    <script src="@Url.Content("~/Script/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Script/jquery-ui.min.js")"></script>




    <script src="@Url.Content("~/Style/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="@Url.Content("~/Style/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js")" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Style/assets/global/plugins/jstree/dist/jstree.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/bootstrap-toastr/toastr.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Style/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Style/assets/global/plugins/icheck/icheck.min.js")" type="text/javascript"></script>
    <script src="/Style/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="/Style/assets/global/plugins/jquery-nestable/jquery.nestable.js" type="text/javascript"></script>


    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/Style/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@Url.Content("~/Style/assets/layouts/layout3/scripts/layout.min.js")" type="text/javascript"></script>

    <script src="/Script/fileupload/fileinput.js"></script>

    <script src="@Url.Content("~/Style/assets/global/plugins/bootbox/bootbox.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Script/jquery.bootpag.min.js")"></script>
    <script src="/Style/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>

    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="/Style/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/Style/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    
    <script src="@Url.Content("~/Script/go.js")"></script>
    <script src="@Url.Content("~/Style/plugins/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Script/chart/fusioncharts.js")"></script>
    <script src="@Url.Content("~/Script/chart/fusioncharts.charts.js")"></script>
    <script src="@Url.Content("~/Script/chart/fusioncharts.theme.fint.js")"></script>
    <script src="@Url.Content("~/Script/egov-util.js")"></script>

</head>
<!-- END HEAD -->
<body class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo" style="margin-top: -15px;">
                                <a href="#">
                                    <img src="/logo/banner.png" alt="logo" class="logo-default">
                                </a>
                            </div>

                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            <a href="javascript:;" class="menu-toggler"></a>
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            @Html.Action("Top", "Menu")
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    <div class="page-header-menu">
                        <div class="container">
                            <!-- BEGIN HEADER SEARCH BOX -->
                            @Html.Action("Index", "Menu")
                        </div>
                    </div>
                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <!-- BEGIN PAGE HEAD-->
                        <!-- END PAGE HEAD-->
                        <!-- BEGIN PAGE CONTENT BODY -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN PAGE BREADCRUMBS -->
                                <!-- END PAGE BREADCRUMBS -->
                                <!-- BEGIN PAGE CONTENT INNER -->
                                <div class="page-content-inner">
                                    <div class="mt-content-body egov-page-content">
                                        <!--MAIN MENU -->
                                        <!--HOT NEW AND SLIDE-->
                                        <!--CONTENT-->
                                        @RenderBody()
                                        <!--END CONTENT-->

                                    </div>
                                </div>
                                <!-- END PAGE CONTENT INNER -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT BODY -->
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->

                </div>
                <!-- END CONTAINER -->
            </div>
        </div>
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                <!-- BEGIN FOOTER -->
                <!-- BEGIN PRE-FOOTER -->
           
                <!-- END PRE-FOOTER -->
                <!-- BEGIN INNER FOOTER -->
                <div class="page-footer">
                    <div class="container">
                        HỆ THỐNG TRA CỨU THÔNG TIN HÀNG HÓA ALSC
                       
                    </div>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END INNER FOOTER -->
                <!-- END FOOTER -->
            </div>
        </div>
    </div>
   
    

</body>


</html>
