@{
    Layout = null;
    int rowIndex = 0;
}
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold">Danh sách Hàng nhanh Chuyến bay @ViewBag.Flight - @ViewBag.ATA</p>
<table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14px">
    <thead>
        <tr>
            <th class="all" style="width:5%;font-size:16px;background-color:yellow !important;text-align:center">
                STT
            </th>
            <th style="width:15%;font-size:16px;background-color:yellow !important;text-align:center">
                Chuyến bay
            </th>
            <th style="width:10%;font-size:16px;background-color:yellow !important;text-align:center">
                Ngày
            </th>
            <th style="width:20%;font-size:16px;background-color:yellow !important;text-align:center">
                AWB
            </th>
            <th style="width:15%;font-size:16px;background-color:yellow !important;text-align:center">
                HAWB
            </th>
        </tr>



    </thead>
    <tbody>
      @foreach (var row in (IList<Web.Portal.Model.Models.HawbManagement>)ViewData["HawbInAwb"])
      {
          rowIndex += 1;
            <tr>
                <td style="font-size:14px;color:black;font-weight:bold">@rowIndex</td>
                <td style="font-size:14px;color:black;font-weight:bold">@Html.Raw(row.Flight)</td>
                <td style="font-size:14px;color:black;font-weight:bold">@Html.Raw(row.ATA.HasValue ? row.ATA.Value.ToString("dd-MM-YYYY") : "")</td>
                <td style="font-size:14px;color:black;font-weight:bold">@Html.DisplayTextFor(model => row.Mawb)</td>
                <td style="font-size:14px;color:black;font-weight:bold">@Html.DisplayTextFor(model => row.Hawb)</td>
            </tr>
        }
    </tbody>

</table>





