
@{
    Layout = null;
    int PageCurrent = 0;
    string[] columns = (string[])ViewData["column"];
    System.Data.DataTable tableReport = ((System.Data.DataTable)ViewData["DataList"]);
    double sumTotal = 0;
}
<div class='col-md-2 col-xs-12 margin-top-10'>
    <label class='control-label'><b>Tổng số: @ViewBag.TotalRecord</b></label>
</div>
<input type="hidden" name="keyValue" id="reportId" value="@ViewBag.ID" />

<table class="table table-striped table-bordered table-advance table-hover dt-responsive" id="tbl-report">
    <thead>
        <tr>
            <th class="all" style="width:3%"></th>
            @foreach (var item in columns)
            {
                <th style="width:15%">@Html.DisplayTextFor(model => item) </th>

            }
            <th style="width:15%">Tổng</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < tableReport.Rows.Count; i++)
        {

            
            PageCurrent += 1;
            double total = 0;
            <tr>
                <td>@PageCurrent</td>
               @for (int j = 0; j < columns.ToList().Count; j++)
               {
                    <td><a href="#" class="btn edit-hawb  btn-xs">@Html.Raw(tableReport.Rows[i][j])</a></td>
                   if (j > 0)
                   {
                       total += double.Parse(string.IsNullOrEmpty(tableReport.Rows[i][j].ToString()) ? "0" : tableReport.Rows[i][j].ToString());
                        
                   }
               }
              @{sumTotal += total;}  
                <td style="color:red">@total</td>
            </tr>
        }
        <tr>
            <td>Tổng</td>
            <td></td>
            @for (int j=1;j< columns.ToList().Count; j++)
            {
                double sum = 0;
                for (int i = 0; i < tableReport.Rows.Count; i++)
                {
                    sum += double.Parse(string.IsNullOrEmpty(tableReport.Rows[i][j].ToString())? "0" : tableReport.Rows[i][j].ToString());
                }
                <td style="color:red">@sum</td>
            }
            <td style="color:red">@sumTotal</td>

        </tr>

    </tbody>

</table>
<div class="box-footer clearfix">
    @Html.Raw(ViewBag.Paging)
</div>
<script>
    var id = $('#reportId').val()
    egovutil.loadPaging(pagingexpawb, "/HandlingReport/ReportList?id=" + id
                                                                    + "&FromDate=" + $("#fda").val()
                                                                    + "&ToDate=" + $("#tda").val()
                                                                    + "&Page=1"
                                                                    + "&PageSize=" + $("#pagingexpawb_step").val(), "#content-list-result");



    $("#pagingexpawb_step").change(function () {
        egovutil.getContent("#content-list-result",
                                                             "/HandlingReport/ReportList?id=" + id
                                                                    + "&FromDate=" + $("#fda").val()
                                                                    + "&ToDate=" + $("#tda").val()
                                                                    + "&Page=1"
                                                                    + "&PageSize=" + $(this).val());
    });

    egovutil.CreateTableSort("#tbl-report", [[0, "asc"]], [

       {

           "orderable": false, "targets": [0, 0]
       }
    ], false);
</script>
