
@{
    Layout = null;
    int PageCurrent = 0;
    string[] columns = (string[])ViewData["column"];
    System.Data.DataTable tableReport = ((System.Data.DataTable)ViewData["DataList"]);

}
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
    @ViewBag.Des
</p>
<p style="text-align:center;font-family:'Times New Roman';font-size:13pt;font-weight:bold;text-transform:uppercase">
    @ViewBag.FlightNumber
</p>
<div class='col-md-2 col-xs-12 margin-top-10'>
    <label class='control-label'><b>Tổng số: @ViewBag.TotalRecord</b></label>
</div>


<table border="1" id="tbl-report">
    <thead>
        <tr>
            <th class="all" style="width:3%"></th>
            @foreach (var item in columns)
            {
                <th style="width:15%">@Html.DisplayTextFor(model => item) </th>

            }

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < tableReport.Rows.Count; i++)
        {
            PageCurrent += 1;

            <tr>
                <td>@PageCurrent</td>
                @foreach (var rs in columns)
                {
                    <td>@Html.Raw(tableReport.Rows[i][rs])</td>
                }


            </tr>
          
        }
        <tr>
            <td>Tổng</td>
            <td></td>
            <td></td>
            <td>@ViewBag.sum_gw</td>
            <td></td>


        </tr>
    </tbody>

</table>
<div style="margin-top:200px;padding-top:50px;">
    <table style="width:100%;" border="0">
        <tr style="font-family:'Times New Roman';font-size:12pt;font-weight:bold;text-transform:uppercase">
            <td colspan="3" align="center"><strong>Người lập báo cáo</strong></td>
            <td colspan="6"></td>
            <td align="center"><strong>Người kiểm soát</strong></td>
        </tr>
    </table>

</div>