
@{
    Layout = null;
}
@model Web.Portal.Model.Models.HawbIrr
<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:x="urn:schemas-microsoft-com:office:excel"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Excel.Sheet>
    <meta name=Generator content="Microsoft Excel 15">
    <link rel=File-List href="form%20BBBT_files/filelist.xml">
    <style id="form BBBT_15574_Styles">
        <!-- table {
            mso-displayed-decimal-separator: "\.";
            mso-displayed-thousand-separator: "\,";
        }

        .font515574 {
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
        }

        .font615574 {
            color: black;
            font-size: 8.5pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
        }

        .font715574 {
            color: black;
            font-size: 8.5pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
        }

        .font815574 {
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
        }

        .font915574 {
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
        }

        .font1015574 {
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
        }

        .font1115574 {
            color: black;
            font-size: 10.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
        }

        .font1215574 {
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
        }

        .font1315574 {
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Wingdings 2", serif;
            mso-font-charset: 2;
        }

        .xl1515574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 12.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: bottom;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6315574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.5pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6415574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6515574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: nowrap;
        }

        .xl6615574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl6715574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl6815574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl6915574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7015574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7115574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7215574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7315574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7415574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7515574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7615574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7715574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7815574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl7915574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8015574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8115574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8215574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8315574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: 1.0pt solid windowtext;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8415574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8515574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8615574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8715574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8815574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl8915574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9015574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9115574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9215574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9315574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9415574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9515574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9615574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 12.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: top;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9715574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 12.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: top;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9815574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 12.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: top;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl9915574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.5pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10015574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.5pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10115574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.5pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10215574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.5pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10315574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10415574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10515574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: 1.0pt solid windowtext;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10615574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: 1.0pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10715574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10815574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 14.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl10915574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11015574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11115574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11215574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11315574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11415574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.5pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11515574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Wingdings;
            mso-generic-font-family: auto;
            mso-font-charset: 2;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: 1.0pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11615574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11715574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 9.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11815574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl11915574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border-top: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl12015574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl12115574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: general;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: none;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl12215574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: .5pt solid windowtext;
            border-left: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl12315574 {
            padding: 0px;
            mso-ignore: padding;
            color: black;
            font-size: 8.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border-top: none;
            border-right: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            border-left: none;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }
        -->
    </style>
</head>

<body>

    <div id="form BBBT_15574" align=center x:publishsource="Excel">

        <table border=0 cellpadding=0 cellspacing=0 width=742 style='border-collapse:
 collapse;table-layout:fixed;width:558pt'>
            <col width=77 span=2 style='width:58pt'>
            <col width=69 style='width:52pt'>
            <col width=83 style='width:62pt'>
            <col width=73 style='width:55pt'>
            <col width=88 span=2 style='width:66pt'>
            <col width=69 span=2 style='width:52pt'>
            <col width=49 style='width:37pt'>
            <tr height=47 style='height:35.25pt'>
                <td height=47 width=77 style='height:35.25pt;width:58pt' align=left
                    valign=top>
                    
                    <![if !vml]><span style='position:absolute;z-index:1;margin-left:1px;margin-top:11px;width:216px;
  height:31px'>
                        <img width=216 height=31
                             src=http://10.10.1.24:5000/GroupSource/bbbt_logo.png v:shapes="Picture_x0020_1">
                    </span><![endif]><span style=''>
                        <table cellpadding=0 cellspacing=0>
                            <tr>
                                <td height=47 class=xl1515574 width=77 style='height:35.25pt;width:58pt'></td>
                            </tr>
                        </table>
                    </span>
                </td>
                <td class=xl1515574 width=77 style='width:58pt'></td>
                <td class=xl1515574 width=69 style='width:52pt'></td>
                <td colspan=5 class=xl10815574 width=401 style='width:301pt'>
                    BIÊN B&#7842;N
                    B&#7844;T TH&#431;&#7900;NG HÀNG NH&#7852;P
                </td>
                <td colspan=2 rowspan=2 class=xl10415574 width=118 style='width:89pt'>
                    FM/OPM/5361<br>
                    Hi&#7879;u l&#7921;c: 10/01/20<br>
                    L&#7847;n s&#7917;a: 06
                </td>
            </tr>
            <tr height=25 style='height:18.75pt'>
                <td height=25 class=xl1515574 style='height:18.75pt'></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td colspan=5 class=xl10815574 width=401 style='width:301pt'>
                    IMPORT CARGO
                    IRREGULARITY REPORT
                </td>
            </tr>
            <tr height=21 style='height:15.5pt'>
                <td height=21 class=xl6315574 colspan=4 style='height:15.5pt'>
                    A: THÔNG TIN
                    CHUNG/ GENERAL INFORMATION<font class="font715574">:</font>
                </td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
            </tr>
            <tr height=30 style='height:22.5pt'>
                <td colspan=3 height=30 class=xl8815574 width=223 style='border-right:.5pt solid black;
  height:22.5pt;width:168pt;padding-left:5px'>
                    1. @Html.Raw(Model.Prefix.Contains("Z")?"Số quản lý hàng hóa":"AWB No")<font class="font915574">
                        :<span style=''></span>
                    </font>
                </td>
                <td colspan=2 class=xl8115574 width=156 style='border-right:.5pt solid black;
  border-left:none;width:117pt'>
                    2. &#272;i&#7875;m xu&#7845;t phát/ Origin<font class="font915574">:</font>
                </td>
                <td colspan=2 class=xl11815574 width=176 style='border-right:.5pt solid black;
  border-left:none;width:132pt;padding-left:10px'>
                    4. S&#7889; hi&#7879;u chuy&#7871;n bay/ Flight
                    No<font class="font915574">:</font>
                </td>
                <td colspan=3 class=xl8815574 width=187 style='border-right:.5pt solid black;
  border-left:none;width:141pt;padding-left:10px'>
                    6. Tình tr&#7841;ng th&#7901;i ti&#7871;t
                    t&#7841;i th&#7901;i &#273;i&#7875;m phát hi&#7879;n b&#7845;t
                    th&#432;&#7901;ng/ Weather<font class="font915574">:</font>
                </td>
            </tr>
            <tr height=30 style='height:22.5pt'>
                <td colspan=3 height=30 class=xl9315574 width=223 style='border-right:.5pt solid black;font-size:16px;;
  height:22.5pt;width:168pt'>
                    @Model.Prefix-@Model.AWB.PadLeft(8,'0')
                </td>
                <td colspan=2 class=xl9315574 width=156 style='border-right:.5pt solid black;
  border-left:none;width:117pt;font-size:16px;;'>
                    @Model.Org
                </td>
                <td colspan=2 class=xl9315574 width=176 style='border-right:.5pt solid black;
  border-left:none;width:132pt;font-size:16px;;'>
                    @ViewBag.FlightNo
                </td>
                <td colspan=3 class=xl10515574 width=187 style='border-right:.5pt solid black;
  border-left:none;width:141pt'>
                    <span style=''>    </span> @Html.Raw(Model.WeatherRain.HasValue && Model.WeatherRain==true? "<font class=\"font1315574\">R</font>" :"<font class=\"font1015574\">¨</font>")<font class="font915574">
                        <span style=''></span>M&#432;a/ Rain
                    </font>
                </td>
            </tr>
            <tr height=30 style='height:22.5pt'>
                <td colspan=3 height=30 class=xl9315574 width=223 style='border-right:.5pt solid black;
  height:22.5pt;width:168pt'>
                    &nbsp;
                </td>
                <td colspan=2 class=xl10915574 width=156 style='border-right:.5pt solid black;
  border-left:none;width:117pt'>
                    3. &#272;i&#7875;m &#273;&#7871;n/ Destination:
                </td>
                <td colspan=2 class=xl12015574 width=176 style='border-right:.5pt solid black;
  border-left:none;width:132pt;padding-left:10px'>
                    5. Ngày &#273;&#7871;n/ Arrival Date:
                </td>
                <td colspan=3 class=xl10515574 width=187 style='border-right:.5pt solid black;
  border-left:none;width:141pt'>
                    <span style=''>    </span>@Html.Raw(Model.WeatherDry.HasValue && Model.WeatherDry == true ? "<font class=\"font1315574\">R</font>" : "<font class=\"font1015574\">¨</font>")<font class="font915574">
                        <span style=''></span>Không m&#432;a/ Dry
                    </font>
                </td>
            </tr>
            <tr height=30 style='height:22.5pt'>
                <td colspan=3 height=30 class=xl9615574 width=223 style='border-right:.5pt solid black;
  height:22.5pt;width:168pt'>
                    &nbsp;
                </td>
                <td colspan=2 class=xl12215574 width=156 style='border-right:.5pt solid black;
  border-left:none;width:117pt;font-size:16px;'>
                    @Model.Des
                </td>
                <td colspan=2 class=xl12215574 width=176 style='border-right:.5pt solid black;
  border-left:none;width:132pt;font-size:16px;'>
                    @ViewBag.FlightDate
                </td>
                <td colspan=3 rowspan=2 class=xl6815574 width=187 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black;width:141pt'>
                    <span style=''>    </span><font class="font1015574">
                        <font class="font515574">
                            <span style=''></span>
                        </font>@Html.Raw(Model.WeatherOther.HasValue && Model.WeatherOther == true ? "<font class=\"font1315574\">R</font>" : "<font class=\"font1015574\">¨</font>")<font class="font915574">
                            <span style=''></span>Khác/
                            Other:<span style=''>   </span>@Model.WeatherDes
                        </font>
</td>
            </tr>
            <tr height=29 style='height:21.75pt'>
                <td colspan=7 height=29 class=xl8815574 width=555 style='border-right:.5pt solid black;
  height:21.75pt;width:417pt;padding-left:5px'>
                    7. Tên hàng theo tài li&#7879;u/ Content as per
                    AWB/MNF:<span style=''>                       </span>@Model.LAGI_MASTER_GOODS
                </td>
            </tr>
            <tr height=27 style='height:20.25pt'>
                <td colspan=5 height=27 class=xl9915574 width=379 style='height:20.25pt;
  width:285pt;padding-left:5px'>
                    8. T&#7893;ng s&#7889; ki&#7879;n/tr&#7885;ng lượng
                    theo MNF (<font class="font715574">
                        Pcs/ Kg as per MNF):<span style=''></span>@ViewBag.LagiMasterPieces</font><font class="font1115574">/</font><font class="font715574">@ViewBag.LagiMasterWeight</font>
                </td>
                <td colspan=5 class=xl10115574 width=363 style='border-right:.5pt solid black;
  width:273pt'>
                    9. T&#7893;ng s&#7889; ki&#7879;n/ tr&#7885;ng l&#432;&#7907;ng
                    theo AWB <font class="font715574">(Pcs/ Kg as per AWB):@Model.LagiMasterQuantityEx</font><font class="font1115574">/</font><font class="font715574">@Model.LagiMasterWeightEx</font>
                </td>
            </tr>
            <tr height=35 style='height:26.25pt'>
                <td height=35 class=xl6315574 colspan=3 style='height:26.25pt'>
                    B: B&#7844;T
                    TH&#431;&#7900;NG / IRREGULARITY<span style=''> </span>
                </td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
            </tr>
            <tr height=30 style='height:22.5pt;padding:5px'>
                <td colspan=3 height=30 class=xl9115574 width=223 style='height:22.5pt;
  width:168pt;padding:5px'>
                    @Html.Raw(Model.IrrMsca.HasValue && Model.IrrMsca == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574"> Thi&#7871;u ki&#7879;n/ MSCA/MSMB</font>
                </td>
                <td colspan=3 class=xl9215574 width=244 style='width:183pt'>
                    @Html.Raw(Model.IrrFdca.HasValue && Model.IrrFdca == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">Th&#7915;a ki&#7879;n/ FDCA/FDMB</font>
                </td>
                <td colspan=4 class=xl9215574 width=275 style='border-right:.5pt solid black;
  width:207pt'>
                    @Html.Raw(Model.IrrOvcd.HasValue && Model.IrrOvcd == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574"> L&#7841;c tuy&#7871;n/ OVCD</font>
                </td>
            </tr>
            <tr height=30 style='height:22.5pt'>
                <td colspan=3 height=30 class=xl7415574 width=223 style='height:22.5pt;
  width:168pt;padding:5px'>
                    @Html.Raw(Model.IrrCrushed.HasValue && Model.IrrCrushed == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''>
                        </span>B&#7865;p/ Crushed
                    </font>
                </td>
                <td colspan=3 class=xl7515574 width=244 style='width:183pt'>
                    @Html.Raw(Model.IrrHoled.HasValue && Model.IrrHoled == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574"><span style=''>  </span>Th&#7911;ng/ Holed</font>
                </td>
                <td colspan=4 class=xl11515574 width=275 style='border-right:.5pt solid black;
  width:207pt'>
                    @Html.Raw(Model.IrrOther.HasValue && Model.IrrOther == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''>
                        </span>Lý do khác/ Others: …………………………………
                    </font>
                </td>
            </tr>
            <tr height=30 style='height:22.5pt'>
                <td colspan=3 height=30 class=xl7415574 width=223 style='height:22.5pt;
  width:168pt;padding:5px'>
                    @Html.Raw(Model.IrrTorn.HasValue && Model.IrrTorn == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''>
                        </span>Rách/ Torn
                    </font>
                </td>
                <td colspan=3 class=xl7515574 width=244 style='width:183pt'>
                    @Html.Raw(Model.IrrBroken.HasValue && Model.IrrBroken == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">V&#7905;/ Broken</font>
                </td>
                <td colspan=4 rowspan=2 class=xl10415574 width=275 style='border-right:.5pt solid black;padding-bottom:30px;
  border-bottom:.5pt solid black;width:207pt'>
                    @*<span style='margin-top:-40px'>
                    </span>Rách/ Torn*@
                    @Model.IrrDes
                </td>
            </tr>
            <tr height=30 style='height:22.5pt'>
                <td colspan=3 height=30 class=xl7715574 width=223 style='height:22.5pt;
  width:168pt;padding:5px'>
                    @Html.Raw(Model.IrrWet.HasValue && Model.IrrWet == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''>
                        </span>&#431;&#7899;t/ Wet
                    </font>
                </td>
                <td colspan=3 class=xl7815574 width=244 style='width:183pt'>
                    @Html.Raw(Model.IrrLabel.HasValue && Model.IrrLabel == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">Thi&#7871;u/không có nhãn/d&#7845;u/ Without label, mark</font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=10 height=28 class=xl11415574 width=742 style='border-right:.5pt solid black;
  height:21.0pt;width:558pt;text-align:left;padding-left:5px'>
                    10. T&#7893;ng s&#7889; ki&#7879;n và tr&#7885;ng
                    l&#432;&#7907;ng th&#7921;c t&#7871; c&#7911;a hàng hóa b&#7883; b&#7845;t
                    th&#432;&#7901;ng/ Total Pcs, weight of irregularity cargo<font class="font915574;">:  &nbsp;  &nbsp;<font class="font915574;" style="font-size:16px;font-weight:400">@Model.IrrPices</font>   &nbsp;  &nbsp;  &nbsp;   </font><font class="font615574">pcs</font><font class="font915574">  &nbsp;  &nbsp;  &nbsp;  &nbsp;<font class="font915574;" style="font-size:16px">@Model.IrrWeight</font>   &nbsp;  &nbsp;  &nbsp;  &nbsp;   </font><font class="font615574">kg</font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=10 height=28 class=xl11415574 width=742 style='border-right:.5pt solid black;
  height:21.0pt;width:558pt'>
                    11. T&#7893;ng s&#7889; ki&#7879;n và tr&#7885;ng
                    l&#432;&#7907;ng th&#7921;c t&#7871; c&#7911;a c&#7843; lô hàng b&#7845;t
                    th&#432;&#7901;ng/ Total Pcs, weight of the consignment<font class="font915574">:..........................................</font><font class="font615574">pcs</font><font class="font915574">……...………………</font><font class="font615574">kg</font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=10 height=28 class=xl8815574 width=742 style='border-right:.5pt solid black;
  height:21.0pt;width:558pt;padding-left:5px'>
                    12. Mô t&#7843; c&#7909; th&#7875; v&#7873; tình
                    tr&#7841;ng b&#7845;t th&#432;&#7901;ng/ Details of irregularities found:
                </td>
            </tr>
            <tr height=9 style='height:70.75pt'>
                <td colspan=10 height=100 class=xl7115574 width=742 style='border-right:.5pt solid black;padding:10px;padding-top:0px !important;
  height:70pt;width:558pt;font-size:16px;'>
                   @Html.Raw(Model.IrrDetails) <span style=''> </span>
                </td>
            </tr>
            <tr height=36 style='height:27.0pt'>
                <td colspan=5 height=36 class=xl8815574 width=379 style='border-right:.5pt solid black;
  height:27.0pt;width:285pt;padding-left:5px'>
                    13.<font class="font915574"> </font><font class="font815574">
                        Tình tr&#7841;ng b&#7845;t th&#432;&#7901;ng
                        &#273;&#432;&#7907;c ghi chú trên/ The irregularity remarked on:
                    </font><font class="font915574"><span style=''> </span></font>
                </td>
                <td colspan=5 class=xl8415574 width=363 style='border-right:.5pt solid black;width:273pt'>
                    15. Bi&#7879;n
                    pháp kh&#7855;c ph&#7909;c v&#7873; hàng hóa/Action taken for damaged cargo:<font class="font915574"><span style=''> </span></font>
                </td>
            </tr>
            <tr height=27 style='height:20.25pt'>
                <td colspan=5 height=27 class=xl7415574 width=379 style='border-right:.5pt solid black;
  height:20.25pt;width:285pt;padding-left:5px'>
                    @Html.Raw(Model.IrrRemarkMail.HasValue && Model.IrrRemarkMail == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        Mail Manifest<span style=''></span>
                    </font><font class="font1015574" style="margin-left:40px">@Html.Raw(Model.IrrRemarkNo.HasValue && Model.IrrRemarkNo == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        Không / No<span style=''></span>
                    </font>
                </td>
                <td colspan=5 class=xl8515574 width=363 style='border-right:.5pt solid black;
  border-left:none;width:273pt'>
                    - Gia c&#7889; l&#7841;i<font class="font1215574">/Reinforced:</font>
                </td>
            </tr>
            <tr height=27 style='height:20.25pt'>
                <td colspan=5 height=27 class=xl7715574 width=379 style='border-right:.5pt solid black;
  height:20.25pt;width:285pt;padding-left:5px'>
                    @Html.Raw(Model.IrrRemarkCargoManifest.HasValue && Model.IrrRemarkCargoManifest == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''></span>Cargo Manifest<span style=''></span>
                    </font><font class="font1015574" style="margin-left:35px">@Html.Raw(Model.IrrRemarkOther.HasValue && Model.IrrRemarkOther == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574"> Khác / Other: @Model.IrrRemarkDes</font>
                </td>
                <td colspan=5 class=xl7415574 width=363 style='border-right:.5pt solid black;
  border-left:none;width:273pt;padding-left:5px'>
                    @Html.Raw(Model.IrrActionStrapped.HasValue && Model.IrrActionStrapped == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''></span>&#272;ai, bu&#7897;c l&#7841;i/
                        Strapped<span style=''>                    </span>
                    </font><font class="font1015574">@Html.Raw(Model.IrrActionRetaped.HasValue && Model.IrrActionRetaped == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        <span style=''></span>B&#259;ng dính l&#7841;i/ Retaped
                    </font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=5 height=28 class=xl8815574 width=379 style='border-right:.5pt solid black;
  height:21.0pt;width:285pt;padding-left:5px'>
                    14.<font class="font915574"> </font><font class="font815574">Nguyên nhân/Cause:</font><font class="font1015574" style="margin-left:100px">@Html.Raw(Model.IrrCauseUnknown.HasValue && Model.IrrCauseUnknown == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        <span style=''>  </span>Ch&#432;a rõ/
                        Unknown
                    </font>
                </td>
                <td colspan=5 class=xl7715574 width=363 style='border-right:.5pt solid black;
  border-left:none;width:273pt;padding-left:5px'>
                    @Html.Raw(Model.IrrActionRepacked.HasValue && Model.IrrActionRepacked == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''></span>&#272;óng gói l&#7841;i/ Repacked<span style=''></span>
                    </font><font class="font1015574" style="margin-left:55px">@Html.Raw(Model.IrrActionNo.HasValue && Model.IrrActionNo == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        <span style=''></span>Không/ No<span style=''></span>
                    </font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=5 rowspan=2 height=56 class=xl6815574 width=379 style='border-right:
  .5pt solid black;border-bottom:.5pt solid black;height:42.0pt;width:285pt;padding-left:5px'>
                    @Model.IrrCauseDes
                </td>
                <td colspan=5 class=xl11115574 width=363 style='border-right:.5pt solid black;
  border-left:none;width:273pt'>
                    - Ch&#7909;p &#7843;nh/ Photograph taken:<span style=''></span><font class="font1015574" style="margin-left:5px">@Html.Raw(Model.IrrActionPhotoYes.HasValue && Model.IrrActionPhotoYes == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        <span style=''>  </span>Có/ Yes<span style=''></span>
                    </font><font class="font1015574" style="margin-left:20px">@Html.Raw(Model.IrrActionPhotoNo.HasValue && Model.IrrActionPhotoNo == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574"><span style=''>  </span>Không/ No</font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=5 height=28 class=xl11115574 width=363 style='border-right:.5pt solid black;
  height:21.0pt;border-left:none;width:273pt'>
                    - Niêm phong HQ/ Customs
                    sealed:<span style=''>     </span><font class="font1015574">@Html.Raw(Model.IrrCustomsSealedYes.HasValue && Model.IrrCustomsSealedYes == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        <span style=''>  </span>Có/ Yes<span style=''></span>
                    </font><font class="font1015574" style="margin-left:20px">@Html.Raw(Model.IrrCustomsSealedNo.HasValue && Model.IrrCustomsSealedNo == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574"><span style=''>  </span>Không/ No</font>
                </td>
            </tr>
            <tr height=29 style='height:21.75pt'>
                <td height=29 class=xl6415574 colspan=6 style='height:21.75pt'>
                    C. TH&#7900;I
                    &#272;I&#7874;M B&#7844;T TH&#431;&#7900;NG &#272;&#431;&#7906;C PHÁT
                    HI&#7878;N/ TIME OF IRREGULARITY FOUND:<span style=''></span>
                </td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=10 height=28 class=xl9115574 width=742 style='border-right:.5pt solid black;
  height:21.0pt;width:558pt;padding-left:5px'>
                    @Html.Raw(Model.IrrTimeReceiving.HasValue && Model.IrrTimeReceiving == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''></span>Nh&#7853;n bàn giao t&#7915; công ty
                        PVS&#272;/ While receving from GHA<span style=''>
                        </span>
                    </font>    <font class="font1015574" style="margin-left:30px">@Html.Raw(Model.IrrTimeDuringDelivery.HasValue && Model.IrrTimeDuringDelivery == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        <span style=''></span>Trong quá trình tr&#7843; hàng/ During
                        delivery
                    </font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=10 height=28 class=xl7415574 width=742 style='border-right:.5pt solid black;
  height:21.0pt;width:558pt;padding-left:5px'>
                    @Html.Raw(Model.IrrTimeDuringULDBreakDown.HasValue && Model.IrrTimeDuringULDBreakDown == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''></span>Trong quá trình d&#7905; hàng/ During ULD
                        break down
                    </font><font class="font915574">
                        <span style=''></span>
                    </font><font class="font1015574" style="margin-left:75px">@Html.Raw(Model.IrrTimeOther.HasValue && Model.IrrTimeOther == true ? "<font class=\"font1315574\">R</font>" : "¨")</font><font class="font515574">
                        <span style=''></span>Khác/ Other: .......@Model.IrrTimeDes....................
                    </font>
                </td>
            </tr>
            <tr height=28 style='height:21.0pt'>
                <td colspan=10 height=28 class=xl7715574 width=742 style='border-right:.5pt solid black;
  height:21.0pt;width:558pt;padding-left:5px'>
                    @Html.Raw(Model.IrrTimeDuringStorage.HasValue && Model.IrrTimeDuringStorage == true ? "<font class=\"font1315574\">R</font>" : "¨")<font class="font515574">
                        <span style=''></span>Trong quá trình l&#432;u kho/ During
                        storage
                    </font><font class="font915574"> </font><font class="font515574">
                        <span style=''></span>
                    </font>
                </td>
            </tr>
            <tr height=26 style='height:19.5pt'>
                <td colspan=10 height=26 class=xl8015574 width=742 style='height:19.5pt;
  width:558pt;text-align:left'>
                    16.<span style=''>  </span>Ngày gi&#7901;
                    l&#7853;p Biên b&#7843;n/ Time and Date of Report: <font class="font915574">
                        ………………<font class="font915574" style="font-size:16px;">
    @Html.Raw(Model.AgenCreated.HasValue ? Model.AgenCreated.Value.ToString("dd/MM/yyyy HH:mm") : DateTime.Now.ToString("dd/MM/yyyy HH:mm"))</font>……………
                    </font><font class="font815574">
                        T&#7841;i
                        &#273;&#7883;a &#273;i&#7875;m/ Place
                    </font><font class="font915574"  style="font-size:16px;">
                        :
                        ALSC…………
                    </font>
                </td>
            </tr>
            <tr height=49 style='height:36.75pt'>
                <td colspan=2 height=49 class=xl8115574 width=154 style='border-right:.5pt solid black;
  height:36.75pt;width:116pt'>
                    Ng&#432;&#7901;i l&#7853;p Biên b&#7843;n/<br>
                    <span style=''> </span>Prepared by<br>
                    <font class="font915574">(Ký – Ghi rõ h&#7885; và tên)</font>
                </td>
                <td colspan=2 class=xl8315574 width=152 style='border-right:.5pt solid black;
  border-left:none;width:114pt'>
                    Xác nh&#7853;n c&#7911;a cán b&#7897; /
                    Confirmed by Supervisor<br>
                    <font class="font915574">(Ký – Ghi rõ h&#7885; và tên)</font>
                </td>
                <td colspan=2 class=xl8115574 width=161 style='border-right:.5pt solid black;
  border-left:none;width:121pt'>
                    Xác nh&#7853;n c&#7911;a khách hàng/ Confirmed
                    by Customer<br>
                    <font class="font915574">(Ký – Ghi rõ h&#7885; và tên)</font>
                </td>
                <td colspan=2 class=xl8315574 width=157 style='border-right:.5pt solid black;
  border-left:none;width:118pt'>
                    Xác nh&#7853;n<span style=''>
                    </span>c&#7911;a hãng v&#7853;n chuy&#7875;n/ Confirmed by airlines*<br>
                    <font class="font915574">(Ký – Ghi rõ h&#7885; và tên)</font>
                </td>
                <td colspan=2 class=xl8115574 width=118 style='border-right:.5pt solid black;
  border-left:none;width:89pt'>
                    Xác nh&#7853;n c&#7911;a h&#7843;i quan/
                    Confirmed by Customs<br>
                    <font class="font915574">(Ký – Ghi rõ h&#7885; và tên)</font>
                </td>
            </tr>
            <tr height=53 style='height:40.0pt'>
                <td colspan=2 height=60 class=xl6615574 width=154 style='border-right:.5pt solid black;
  height:65pt;width:116pt'>
                    <br>
                    <br>
                    <br>
                    @Model.Staff
                </td>
                <td colspan=2 class=xl6615574 width=152 style='border-right:.5pt solid black;
  border-left:none;width:114pt'>
                    <br>
                    <br>
                    <br>
                    @Model.Supervisor
                </td>
                <td colspan=2 class=xl6615574 width=161 style='border-right:.5pt solid black;
  border-left:none;width:121pt'>
                    &nbsp;
                </td>
                <td colspan=2 class=xl6615574 width=157 style='border-right:.5pt solid black;
  border-left:none;width:118pt'>
                    &nbsp;
                </td>
                <td colspan=2 class=xl6615574 width=118 style='border-right:.5pt solid black;
  border-left:none;width:89pt'>
                    &nbsp;
                </td>
            </tr>
            <tr height=19 style='height:14.25pt'>
                <td height=19 class=xl6515574 colspan=2 style='height:14.25pt'>
                    * Không
                    b&#7855;t bu&#7897;c/ Not obligatory
                </td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
            </tr>
            @*<tr height=19 style='height:14.25pt'>
                <td height=19 class=xl6415574 colspan=8 style='height:14.25pt'>
                    Bàn giao: <font class="font915574">
                        B&#7843;n 01 – Màu tr&#7855;ng: L&#432;u; B&#7843;n 02 –
                        Màu vàng: Khách hàng; B&#7843;n 03 – Màu xanh: Hãng v&#7853;n chuy&#7875;n;
                        B&#7843;n 04 – Màu h&#7891;ng: H&#7843;i quan<span style=''></span>
                    </font>
                </td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
            </tr>
            <tr height=21 style='height:15.5pt'>
                <td height=21 class=xl6415574 colspan=7 style='height:15.5pt'>
                    Distribution: <font class="font915574">
                        Copy 01 - White: Filed; Copy 02 – Yellow: Customer; Copy
                        03 – Blue: Airlines; Copy 04 – Pink: Customs<span style=''></span>
                    </font>
                </td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
                <td class=xl1515574></td>
            </tr>*@
            <![if supportMisalignedColumns]>
            <tr height=0 style='display:none'>
                <td width=77 style='width:58pt'></td>
                <td width=77 style='width:58pt'></td>
                <td width=69 style='width:52pt'></td>
                <td width=83 style='width:62pt'></td>
                <td width=73 style='width:55pt'></td>
                <td width=88 style='width:66pt'></td>
                <td width=88 style='width:66pt'></td>
                <td width=69 style='width:52pt'></td>
                <td width=69 style='width:52pt'></td>
                <td width=49 style='width:37pt'></td>
            </tr>
            <![endif]>
        </table>

    </div>


    <!----------------------------->
    <!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
    <!----------------------------->
</body>

</html>

