
@{
    Layout = null;
    int PageCurrent = 0;
    IEnumerable <Web.Portal.Common.ViewModel.IssueViewModel> listIssue = (IEnumerable<Web.Portal.Common.ViewModel.IssueViewModel>)ViewData["listIssue"];
}

<div class="row">
    <div class='col-md-12 col-xs-12 margin-top-10' style="align-items: center;text-align:center">
        <label class='control-label' style="align-items: center;font-size:24px !important;font-weight:bold !important "><b><span style="color:red;font-size:24px;font-weight:bold">DANH SÁCH LÔ HÀNG CHỜ XÁC NHẬN</span></b></label>
    </div>
</div>
@*<div class="row">
    <div class='col-md-12 col-xs-12' style="align-items: center;text-align:center">
        <label class='control-label' style="align-items: center;font-size:16px !important;"><b><span style="color:red;">(CHƯƠNG TRÌNH CHẠY THỬ NGHIỆM)</span></b></label>
    </div>
</div>*@

<table class="table table-bordered table-striped table-condensed flip-content" id="table_fixed" style="margin-bottom:10px !important">
    <thead class="flip-content">
        <tr style="">
            <th class="all" style="width:9% !important;font-size:24px;font-weight:bold;background-color:yellow !important;text-align:center">
                STT
            </th>
            <th  style="width:9% !important;font-size:24px;font-weight:bold;background-color:yellow !important;text-align:center">
                AWB
            </th>
            <th  style="width:9% !important;font-size:24px;font-weight:bold;background-color:yellow !important;text-align:center">
                SỐ KIỆN
            </th>
            <th  style="width:9% !important;font-size:24px;font-weight:bold;background-color:yellow !important;text-align:center">
                BOOKING
            </th>
            <th style="width:9% !important;font-size:24px;font-weight:bold;background-color:yellow !important;text-align:center">
                LOẠI TÀU
            </th>
            @*<th style="width:10%;background-color:yellow !important;text-align:center">
                NOTE
            </th>*@
            @*<th colspan="3" style="width:30%;background-color:yellow !important;text-align:center">
                ĐIỀU KIỆN TIẾP NHẬN
            </th>*@
            <th rowspan="2" style="width:9% !important;font-size:24px;font-weight:bold;background-color:yellow !important;text-align:center">
                NGÀY TẠO
            </th>
            <th rowspan="2" style="width:10% !important;font-size:24px;font-weight:bold;background-color:yellow !important;text-align:center">
                CUTOFFTIME
            </th>
        </tr>
        @*<tr style="">
         
            <th style="width:10%;background-color:yellow !important;text-align:center">
                Hạ Hàng
            </th>
            <th style="width:10%;background-color:yellow !important;text-align:center">
                Dán Tem
            </th>
            <th style="width:10%;background-color:yellow !important;text-align:center">
                Gom Hàng
            </th>
           
        </tr>*@
    </thead>
</table>
<div class="portlet-body flip-scroll" id="contain">
    <table class="table table-bordered table-striped table-condensed flip-content" id="table_scroll">
        <tbody>
        @if (listIssue.ToList().Count > 0)
        {
            foreach (var row in (IList<Web.Portal.Common.ViewModel.IssueViewModel>)ViewData["listIssue"])
            {
                PageCurrent += 1;
                <tr style="@Html.Raw(row.Sort_Value== 0 ? "background-color:#00EE00;font-weight: bold;font-size: 18px;" : "background-color:#FFCC00;color:white;font-weight: bold;font-size: 18px;")">
                    <td style="width:8%;text-align:center ;font-size:24px;font-weight:bold">@PageCurrent</td>
                    <td style="width:12%;text-align:center;font-size:24px;font-weight:bold">@Html.Raw(row.AWB) </td>
                    <td style="width:10%;font-size:24px;font-weight:bold" align="center">@Html.Raw(row.Quantity) </td>
                    <td style="width:10%;font-size:24px;font-weight:bold" align="center">@Html.Raw(row.Booking) </td>
                    <td style="width:10%;font-size:24px;font-weight:bold" align="center">@Html.Raw(row.FlightType == "CARGO" ? "CGO" : "PAX") </td>
                    @*<td style="width:10%" align="center">@Html.Raw(row.Comment) </td>*@
                    @*@foreach (var rowCondition in ConditionList.ToList().Where(c => c.issue_id == row.IssueID))
                    {
                        <td style="width:10%;padding-top:19px;" align="center"><div class="btn-group green"><i style="font-size:30px; @Html.Raw(rowCondition.@checked==true? "color:forestgreen":"color:red")" class="fa @Html.Raw(rowCondition.@checked==true? "green fa-check-circle-o": "red fa-close")"></i></div> </td>
                    }*@
                    <td style="width:10%;font-size:24px;font-weight:bold" align="center">@Html.Raw(row.CreatedDate.Value.ToString("dd/MM/yyyy hh:mm")) </td>

                    <td style="width:10%;font-size:24px;font-weight:bold" align="center">@Html.Raw(row.TimeSpanToCutOffTIme)</td>
                </tr>
            }
        }
        
        </tbody>

    </table>
    <p></p>
    <p></p>
    <style>
        body {
            font-family: 'helvetica';
            font-weight: bold;
            font-size: 18px;
        }

        #contain {
           height: 400px;
            overflow-y: scroll;
        }

        #table_scroll {
            width: 100%;
            margin-top: 400px;
            /*margin-bottom: 400px;*/
            border-collapse: collapse;
        }

            #table_scroll thead th {
                padding-top: 10px;
                 padding-left: 10px;
                background-color: #ea922c;
                color: #fff;
            }

            #table_scroll tbody td {
                padding-top: 10px;
              font-weight: bold;
            font-size: 18px;
                color: black;
            }
    </style>
    <script>
        console.log('start!')
        var cfsAction = {
            search: function () {
                egovutil.getContent("#content-list-result", "/Issue/list");
                //$.post(encodeURI("/Issue/list"), function (data) {                   
                //    $("#content-list-result").html(data);                    
                //});
            }
        }
        $(document).ready(function () {

            pageScroll1();

            $("#contain").mouseover(function () {
                clearTimeout(my_time);
            }).mouseout(function () {
                pageScroll1();
            });

            getWidthHeader('table_fixed', 'table_scroll');

        });

        var my_time;
        var step = 1;
        function pageScroll1() {
            var objDiv = document.getElementById("contain");
            console.log(objDiv.scrollTop)
            objDiv.scrollTop = objDiv.scrollTop + step;
            if (objDiv.scrollHeight- Math.floor((objDiv.scrollTop + 400)) <= 2) {
                //objDiv.scrollTop = 0;
                cfsAction.search();
               //cfsAction.search();
            }

            else {
                my_time = setTimeout('pageScroll1()', 50);
            }

        }

        function getWidthHeader(id_header, id_scroll) {
            var colCount = 0;
            $('#' + id_scroll + ' tr:nth-child(1) td').each(function () {
                if ($(this).attr('colspan')) {
                    colCount += +$(this).attr('colspan');
                } else {
                    colCount++;
                }
            });

            for (var i = 1; i <= colCount; i++) {
                var th_width = $('#' + id_scroll + ' > tbody > tr:first-child > td:nth-child(' + i + ')').width();
                $('#' + id_header + ' > thead th:nth-child(' + i + ')').css('width', th_width + 'px');
            }
        }
    </script>
</div>
@*<div class="row">
        <div class='col-md-12 col-xs-12' style="align-items: center;text-align:center">
            <label class='control-label' style="align-items: center;font-size:16px !important;"><b><span style="color:red;">(CHƯƠNG TRÌNH CHẠY THỬ NGHIỆM)</span></b></label>
        </div>
    </div>*@




