@{
    Layout = null;
    int PageCurrent = 0;

}
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
    BÁO CÁO @ViewBag.Type HÀNG NHẬP NGÀY @ViewBag.Date
</p>

<p style="text-align:left;font-family:'Times New Roman';font-size:15pt;font-weight:bold">
    <span>TỔNG SỐ:</span> <span style="color:red">@ViewBag.TotalRecord</span>
    <span>TỔNG NO VAT:</span> <span style="color:red">@ViewBag.TotalNoVat</span>
    <span>TỔNG VAT:</span> <span style="color:red">@ViewBag.TotalVat</span>
    <span>TỔNG TIỀN:</span> <span style="color:red">@ViewBag.Total</span>
    <span>TỔNG CHUYỂN KHOẢN:</span> <span style="color:red">@ViewBag.TotalBank</span>
</p>
<table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14pt" id="tbl-impawb">
    <thead>
        <tr style="background-color:yellow">
            <th class="all" style="width:3%"></th>
            <th style="width:15%">
                NUMBER
            </th>
            <th style="width:15%">
                MAWB
            </th>
            <th style="width:15%">
                HAWB
            </th>
            <th style="width:15%">
                AMOUNT NOT VAT
            </th>
            <th style="width:5%">
                VAT%
            </th>

            <th style="width:10%">
                AMOUNT VAT
            </th>
            <th style="width:15%">
                AMOUNT TOTAL
            </th>
            <th style="width:10%">
                BANK TRF
            </th>
            <th style="width:30%">
                CUSTOMER NAME
            </th>
            <th style="width:15%">
                PERSON NAME
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in (IList<Web.Portal.Layer.Invoice>)ViewData["InvoiceLists"])
        {
            PageCurrent += 1;

            <tr>
                <td>@PageCurrent</td>
                <td>@Html.DisplayTextFor(model => row.No)</td>
                <td>@Html.DisplayTextFor(model => row.Awb_Prefix)-@Html.DisplayTextFor(model => row.Awb_No)</td>
                <td>@Html.DisplayTextFor(model => row.Hawb)</td>
                <td>@Html.DisplayTextFor(model => row.Amount_No_Vat)</td>
                <td>@Html.DisplayTextFor(model => row.Vat)%</td>
                <td>@Html.DisplayTextFor(model => row.Amount_Vat)</td>
                <td>@Html.DisplayTextFor(model => row.Amount_Total)</td>
                <td>@Html.Raw(row.Payment.Trim().Equals("BANK TFR")?"BANK TRF":"")</td>
                <td>@Html.DisplayTextFor(model => row.Customer_Name)</td>
                <td>@Html.DisplayTextFor(model => row.PersonName)</td>
            </tr>
        }
            
    </tbody>

</table>
<table style="width:100%" border="0">
    <tr style="font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
        <td colspan="3" align="center"><strong>Người lập báo cáo</strong></td>
        <td colspan="6"></td>
        <td align="center"><strong>Người kiểm soát</strong></td>
    </tr>
</table>