@{
    Layout = null;
    int rowIndex = 0;

}
<div class='col-md-2 col-xs-12 margin-top-10'>
    <label class='control-label'><b>Tổng số: @ViewBag.Total</b></label>
</div>
<table ID="tbl-sop" class="table table-striped table-bordered table-advance table-hover">
    <thead>
        <tr>
            <th  style="wIDth:5%;font-size:16px;text-align:center">
                STT
            </th>
            <th  style="wIDth:15%;font-size:16px;text-align:center">
                AWB
            </th>
            <th  style="wIDth:10%;font-size:16px;text-align:center">
                SỐ KIỆN
            </th>
            <th  style="wIDth:10%;font-size:16px;text-align:center">
                BOOKING
            </th>
            <th style="wIDth:10%;font-size:16px;text-align:center">
               NGÀY TẠO
            </th>
            <th  style="wIDth:10%;font-size:16px;text-align:center">
                CUTOFF
            </th>
            <th  style="wIDth:10%;font-size:16px;text-align:center">
                ĐO DIM
            </th>
            @*<th style="wIDth:15%">
                    Cut Off
                </th>*@

            @*<th colspan="2" style="wIDth:30%;text-align:center;font-size:16px">
                VỊ TRÍ
            </th>*@
            <th  style="wIDth:30%;text-align:center;font-size:16px">
                ACTION
            </th>
            @*<th >

                </th>*@
        </tr>
        @*<tr>
            <th style="width:10%;text-align:center;text-align:center;background-color:bisque">
                CÂN 1
            </th>
            <th style="width:10%;text-align:center;text-align:center;background-color:aquamarine">
                CÂN 2
            </th>
        </tr>*@
    </thead>
    <tbody>
        @foreach (var row in (IList<Web.Portal.Model.Models.VCT>)ViewData["VCTList"])
        {
            rowIndex += 1;

            <tr>
                <td>@rowIndex</td>
                <td><a href="#" data-ID="@Html.DisplayFor(model=>row.ID)" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.LABS_AWB)</a></td>
                <td>
                    <a href="#" data-ID="@Html.DisplayFor(model => row.ID)" class="btn  btn-xs sqs-member-edit">@Html.DisplayTextFor(model => row.LABS_QUANTITY_BOOKED)</a>
                </td>
                <td>
                    <a href="#" data-ID="@Html.DisplayFor(model => row.ID)" class="btn  btn-xs sqs-member-edit">@Html.DisplayTextFor(model => row.BOOKING_FLIGHT)</a>
                </td>
                <td>
                    <a href="#" data-ID="@Html.DisplayFor(model => row.ID)" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.LABS_CREATED_AT.Value.ToString("dd/MM/yy HH:mm"))</a>
                </td>
                <td><a href="#" data-ID="@Html.DisplayFor(model=>row.ID)" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.CutOffTime.HasValue? row.CutOffTime.Value.ToString("dd/MM/yy HH:mm") : "")</a></td>
                <td style="text-align:center">
                    <a href="#" data-ID="@Html.DisplayFor(model => row.ID)" class="btn btn-lg dim-edit">
                        <i class="fa fa-check-circle"></i> HOÀN THÀNH
                    </a>
                </td>
                @*<td>
                        <div class="md-radio">
                            <input id="1_@row.ID"  name="1_@row.ID" @Html.Raw( row.LOCATION == 1 ? "checked" : "") value="1" class="md-radiobtn" type="radio">
                            <label for="1_@row.ID">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Tầng 1
                            </label>
                        </div>
                        <div class="md-radio">
                            <input id="2_@row.ID"  name="1_@row.ID" @Html.Raw(row.LOCATION == 2 ? "checked" : "") value="2" class="md-radiobtn" type="radio">
                            <label for="2_@row.ID">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Tầng 2
                            </label>
                        </div>

                    </td>*@

                @*<td style="text-align:center">
                    <a href="#" data-ID="@Html.DisplayFor(model => row.ID)" data-value="1" class="btn btn-lg issue-edit">
                        <i class="fa fa-share"></i> CHUYỂN
                    </a>
                 
                </td>
                <td style="text-align:center">
                    <a href="#" data-ID="@Html.DisplayFor(model => row.ID)" data-value="2" class="btn btn-lg issue-edit">
                        <i class="fa fa-share"></i> CHUYỂN
                    </a>
                </td>*@
                <td style="text-align:center">
                    <a href="#" data-ID="@Html.DisplayFor(model => row.ID)" class="btn btn-lg booking-edit">
                        <i class="fa fa-edit"></i> SỬA
                    </a>
                    @*<a href="#" data-ID="@Html.DisplayFor(model => row.ID)" class="btn  btn-xs sqs-member-delete">
                <i class="fa fa fa-trash-o"></i> Xóa
            </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(window).keydown(function (event) {
        if (event.which == 112) {
            event.preventDefault();
            $('.input-sm').focus()

        }
    });
    var Action = {
        setValueInput: function () {

            $('.input-sm').attr('placeholder', 'Phím tắt F1')
        },
    }
    var Actionfocus = {
        setFocus: function () {
            $('.btn-bold').focus();
        }
    }
    $(".btn-add-item").click(function () {
        egovutil.dialog("Thêm mới SOP", "large", "/kscb/edit/", "egovutil.loadUrlMain('/issuemanagement/edit')");
    });
    //$(".issue-edit").click(function () {
    //    var check = 0;
    //    var id = $(this).attr("data-ID");

    //    if ($("#1_" + id).prop("checked")) {
    //        check = 1;
    //    }
    //    else {
    //        check = 2;
    //    }
    //    console.log(check);
    //    egovutil.dialog("Sửa thông tin AWB", "large", "/issuemanagement/edit?id=" + $(this).attr("data-ID") + "&check=" + check, "egovutil.loadUrlMain('/issuemanagement')");
    //});
    //$(".sqs-member-delete").click(function () {
    //    egovutil.dlgConfirmAction("Xóa thông tin SOP", "Bạn muốn xóa thông tin SOP", "/kscb/delete/" + $(this).attr("data-ID"), "egovutil.loadUrlMain('/kscb/soptime')");
    //});
    $(".dim-edit").click(function () {
        egovutil.dlgConfirmAction("DIM CONFIRM?  ", "Bạn có muốn hoàn thành Đo DIM?", "/issuemanagement/Dim/" + $(this).attr("data-id"), "hermesAction.searchWaiting();");
        Actionfocus.setFocus();
    });
    $(".booking-edit").click(function () {
        egovutil.dialog("Sửa thông tin AWB", "large", "/issuemanagement/edit/" + $(this).attr("data-ID"), "hermesAction.searchWaiting();");
    });
    egovutil.CreateTableSort("#tbl-sop", [[0, "asc"]], [

                { "orderable": true, "targets": 0 }
    ], true);
  
</script>
