@{
    Layout = null;
    int PageCurrent = 0;
}
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
   @ViewBag.TitleReport
</p>
<p style="text-align:left;font-family:'Times New Roman';font-size:15pt;font-weight:bold">
    <span>TỔNG SỐ LÔ:</span> <span style="color:red">@ViewBag.TotalRecord</span>
    <span>TỔNG SỐ KIỆN:</span> <span style="color:red">@ViewBag.SUMPCS</span>
    <span>TỔNG SỐ CÂN:</span> <span style="color:red">@ViewBag.SumGW</span>
</p>
<table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14pt">
    <thead>
        <tr style="background-color:yellow;color:black;font-weight:bold">
            <th class="all" style="width:3%;background-color:yellow !important;"></th>
            <th style="width:20%;background-color:yellow !important;text-align:center">TÊN HÀNG</th>
            <th style="width:10%;background-color:yellow !important;text-align:center">SỐ LƯỢNG/TRỌNG LƯỢNG</th>
            <th style="width:20%;background-color:yellow !important;text-align:center">NGƯỜI GỬI</th>
            <th style="width:20%;background-color:yellow !important;text-align:center">NGƯỜI NHẬN</th>
            <th style="width:15%;background-color:yellow !important;text-align:center">MAWB</th>
            <th style="width:15%;background-color:yellow !important;text-align:center">HAWB</th>
            <th style="width:15%;background-color:yellow !important;text-align:center">SỐ HIỆU C/B</th>
            <th style="width:15%;background-color:yellow !important;text-align:center">NGÀY NHẬP CẢNH</th>  
            <th style="width:15%;background-color:yellow !important;text-align:center">VỊ TRÍ ĐỊA ĐIỂM</th>  
            <th style="width:15%;background-color:yellow !important;text-align:center">PHÂN LOẠI</th> 
            <th style="width:15%;background-color:yellow !important;text-align:center">GHI CHÚ</th>  
            <th style="width:15%;background-color:yellow !important;text-align:center">VỊ TRÍ</th>       
        </tr>
    </thead>
    <tbody>
        @foreach (var row in (IList<Web.Portal.Layer.ImpAWB>)ViewData["impAWBLists"])
        {
            PageCurrent += 1;

            <tr>
                <td>@PageCurrent</td>
                <td>@Html.DisplayTextFor(model => row.GoodsContent)</td>
                <td>@Html.DisplayTextFor(model => row.QuantityReceived)<br />@Html.DisplayTextFor(model => row.WeightReceived)</td>
                <td>@Html.DisplayTextFor(model => row.Shipper) - @Html.DisplayTextFor(model => row.ShipperADDR)</td>
                <td>@Html.DisplayTextFor(model => row.Consignee) - @Html.DisplayTextFor(model => row.ConsignADDR)</td>
                <td>@Html.DisplayTextFor(model => row.Prefix)@Html.DisplayTextFor(model => row.AWB)</td>
                <td>@Html.DisplayTextFor(model => row.HAWB)</td>
                <td>@Html.DisplayTextFor(model => row.FlightNo)</td>
                <td>@Html.Raw(row.FlightDate.HasValue ? row.FlightDate.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                <td>ALSC</td>
                <td></td>
                <td></td>
                <td>@Html.DisplayTextFor(model => row.Location)</td>
            </tr>
        }
    </tbody>

</table>