@{
    Layout = null;
}@model Web.Portal.Layer.ReportImp
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
    HÀNG HÓA HÀNG NHẬP <br/>Từ ngày @ViewBag.FromDate - @ViewBag.ToDate
</p>
<table class="table table-striped table-bordered table-advance table-hover dt-responsive" border="1" style="width:100%;font-family:'Times New Roman';font-size:14pt">
    <thead>
        <tr style="background-color:yellow;color:black;font-weight:bold">
            <th class="all" style="width:30%" rowspan="2">ĐƠN VỊ BÁO CÁO</th>
            <th style="width:30%" colspan="2">
                SỐ LƯỢNG HÀNG HÓA KHAI BÁO TRÊN MANIFEST DỰ KIẾN
            </th>
            <th style="width:20%" colspan="2">
                SỐ LƯỢNG HÀNG HÓA ĐÃ HẠ VÀO KHO BÃI
            </th>
            <th style="width:20%" colspan="2">
                SỐ LƯỢNG HÀNG HÓA ĐƯA RA KHỎI KHO BÃI
            </th>
            
        </tr>
        <tr  style="background-color:yellow;color:black;font-weight:bold">
            <th>SỐ LƯỢNG CONTAINER</th>
            <th>SỐ LƯỢNG HÀNG RỜI(KG)</th>
            <th>SỐ LƯỢNG CONTAINER</th>
            <th>SỐ LƯỢNG HÀNG RỜI(KG)</th>
            <th>SỐ LƯỢNG CONTAINER</th>
            <th>SỐ LƯỢNG HÀNG RỜI(KG)</th>
        </tr>
        <tr style="background-color:yellow;color:black;font-weight:bold">
            <th>(1)</th>
            <th>(2)</th>
            <th>(3)</th>
            <th>(4)</th>
            <th>(5)</th>
            <th>(6)</th>
            <th>(7)</th>
        </tr>
    </thead>
    <tbody>
    
        <tr>
            <td style="text-align:center">ALSC</td>
            <td style="text-align:center"></td>
            <td style="text-align:center">@Html.DisplayTextFor(model => model.WeightExpected)</td>
            <td style="text-align:center"></td>
            <td style="text-align:center">@Html.DisplayTextFor(model => model.WeightReceived)</td>
            <td style="text-align:center"></td>
            <td style="text-align:center">@Html.DisplayTextFor(model => model.WeightDelivery)</td>
        </tr>
   
    </tbody>

</table>

