@{
    Layout = null;
    int rowIndex = 0;
}
<table id="tbl-hawb" class="table table-striped table-bordered table-advance table-hover dt-responsive">
    <thead>
        <tr>
            <th style="width:10%">
                STT
            </th>
            <th style="width:10%">

            </th>
          
            <th style="width:10%">
               MAWB
            </th>
            <th style="width:10%">
                HAWB
            </th>
            <th style="width:10%">
                KIỆN
            </th>
            <th style="width:10%">
                CÂN
            </th>
            <th style="width:10%">
                RANDOM CODE
            </th>
            <th tyle="width:10%">
                TÌNH TRẠNG
            </th>
            <th style="width:10%">
                CHI TIẾT
            </th>
            @*<th style="width:10%">
                ORI - DES
            </th>
            <th style="width:10%">
                GOODS NAME
            </th>
            <th style="width:10%">
                CONSIGNEE
            </th>
            <th style="width:10%">
                CONSIGN ADDR
            </th>
            <th style="width:10%">
                SHIPPER
            </th>
            <th style="width:10%">
                SHIPPER ADDR
            </th>
            <th style="width:10%">
                SHIPMENT REMARK
            </th>*@


        </tr>
    </thead>
    <tbody>
        @foreach (var row in (IList<Web.Portal.Common.ViewModel.AwbDetailViewModel>)ViewData["listAwb"])
        {
            rowIndex += 1;

            <tr>
                <td>@Html.Raw((rowIndex == 1 && string.IsNullOrEmpty(row.Hawb.Trim())) ?"1(Master)" : rowIndex.ToString())</td>
                <td>
                    <div class="btn-group">
                        <button class="btn green btn-sm btn-outline  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" style="left:0px">
                            <li>
                                <a href="javascript:;" class="flight-detail btn btn-xs" @Html.Raw(row.Lagi_Master_Identity == "0" ? "" : "disabled") data-id="@row.Lagi_Identity" style="margin-right:45px !important">
                                    <i class="fa fa-pencil"></i>THÔNG TIN ĐIỆN
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
              
               
                <td>
                    <a href="/AwbDetail/HawbDetail?lagi_ident=@row.Lagi_Identity&mawb=@row.Mawb&hawb=@row.Hawb" target="_blank" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.Mawb)</a>
                </td>
                <td>
                  @Html.Raw(row.Hawb)
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.Pieces_Expected)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.Weight)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.LAGI_TSO)</a>
                </td>
                @*<td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw((rowIndex == 1 && string.IsNullOrEmpty(row.Hawb.Trim())) ? row.Lagi_Identity.Substring(row.Lagi_Identity.Length - 6) : "")</a>
                </td>*@
                @if (ViewBag.CheckMaster && rowIndex == 1)
                {
                    <td></td>
                }
                else
                {
                    <td>@Html.Raw(Web.Portal.Utils.Constants.GetStatus(row.Status))</td>
                }
                <td align="center">
                    <a href="/AwbDetail/HawbDetail?lagi_ident=@row.Lagi_Identity&mawb=@row.Mawb&hawb=@row.Hawb&lagi_master_ident=@row.Lagi_Master_Identity&status=@row.Status&alsx=0" target="_blank" class="btn  btn-xs sqs-member-edit"><div class="btn-group green" style="@Html.Raw(row.ChecHawb==false? "display:none" : "")"><i style="font-size:30px;" class="fa fa-eye"></i></div> </a>
                </td>
                @*<td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.Origin + " - " + row.Destination)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.GoodsName)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.Consignee)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.ConsigneeAdd)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.Shipper)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.ShipperAdd)</a>
                </td>
                <td>
                    <a href="#" class="btn  btn-xs sqs-member-edit">@Html.Raw(row.Remark)</a>
                </td>*@

            </tr>
        }
    </tbody>
</table>
<script>
    //$(".flight-detail").click(function () {
    //    egovutil.dialog("THÔNG TIN CHUYẾN BAY", "large", "/AwbDetail/FlightDetail?lagi_ident=" + $(this).attr("data-id"), "hermesAction.search();");
    //});s
    $(".flight-detail").click(function () {
        egovutil.dialog("THÔNG TIN ĐIỆN VĂN", "large", "/AwbDetail/MessageDetail?lagi_ident=" + $(this).attr("data-id"), "hermesAction.search();");
    });
   // egovutil.CreateTableSort("#tbl-hawb", [[0, "asc"]], [

   //{

   //    "orderable": false, "targets": [0, 0]
   //}
   // ], false);
</script>