
@{
    Layout = null;
    int PageCurrent = 0;
    string[] columns = (string[])ViewData["column"];
    System.Data.DataTable tableReport = ((System.Data.DataTable)ViewData["DataList"]);
    double sumTotal2019 = 0;
    double sumTotal2020 = 0;
    double[] listResult = new double[43];
}
<p style="text-align:center;font-family:'Times New Roman';font-size:15pt;font-weight:bold;text-transform:uppercase">
    @ViewBag.Des
</p>
<input type="hidden" name="keyValue" id="reportId" value="@ViewBag.ID" />

<table border="1" class="table table-striped table-bordered table-advance table-hover dt-responsive" id="tbl-report">
    <thead>
        <tr>
            <th rowspan="2" style="width:10%;background-color:darkseagreen !important;text-align:center">
                STT
            </th>
            <th rowspan="2" style="width:10%;background-color:darkseagreen !important;text-align:center">
                Ngày
            </th>

            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                CI
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                KE
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                CX
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                EK
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                ET
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                JL
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                UPS
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
               VN
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                VZ
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                CZ
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                KHÁC
            </th>
            <th colspan="3" style="width:10%;background-color:darkseagreen !important;text-align:center">
                TỔNG CỘNG
            </th>
        </tr>
        <tr>
            @for (int j = 1; j < columns.ToList().Count; j++)
            {
                <th style="width:10%;background-color:darkseagreen !important;text-align:center">@Html.Raw(columns[j].ToString().Substring(2).Replace("Total","Tăng/Giảm(%)")) </th>

            }
            <th style="width:10%;background-color:darkseagreen !important;text-align:center">Tổng 2020</th>
            <th style="width:10%;background-color:darkseagreen !important;text-align:center">Tổng 2021</th>
            <th style="width:10%;background-color:darkseagreen !important;text-align:center">Tăng/Giảm</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < tableReport.Rows.Count; i++)
        {


            PageCurrent += 1;
            double total2019 = 0;
            double total2020 = 0;
            <tr>
                <td>@PageCurrent</td>
                @for (int j = 0; j < columns.ToList().Count; j++)
                {
                    if (j == 0)
                    {
                        <td>@Html.Raw(tableReport.Rows[i][j].ToString())</td>
                    }
                    else
                    {
                        <td>@Html.Raw(double.Parse(string.IsNullOrEmpty(tableReport.Rows[i][j].ToString().Trim()) ? "0" : tableReport.Rows[i][j].ToString().Trim()).ToString("N2"))</td>
                    }

                    if (j == 1 || j == 4 || j == 7 || j == 10 || j == 13 || j == 16 || j == 19 || j == 22 || j == 25 || j==28 || j ==31 || j ==34)
                    {
                        total2019 += double.Parse(string.IsNullOrEmpty(tableReport.Rows[i][j].ToString()) ? "0" : tableReport.Rows[i][j].ToString());

                    }
                    if (j == 2 || j == 5 || j == 8 || j == 11 || j == 14 || j == 17 || j == 20 || j == 23 || j == 26 || j==29 || j==32 || j==35)
                    {
                        total2020 += double.Parse(string.IsNullOrEmpty(tableReport.Rows[i][j].ToString()) ? "0" : tableReport.Rows[i][j].ToString());

                    }
                }
                @{sumTotal2019 += total2019; sumTotal2020 += total2020;}
                <td style="color:red">@total2019.ToString("N2")</td>
                <td style="color:red">@total2020.ToString("N2")</td>
                <td style="color:red">@Html.Raw(Math.Round((total2020 - total2019) / total2019 * 100, 2).ToString("N2"))</td>
            </tr>
                    }
        <tr>
            <td>Tổng</td>
            <td></td>
            @for (int j = 1; j < columns.ToList().Count; j++)
            {
                double sum = 0;
                for (int i = 0; i < tableReport.Rows.Count; i++)
                {
                    sum += double.Parse(string.IsNullOrEmpty(tableReport.Rows[i][j].ToString()) ? "0" : tableReport.Rows[i][j].ToString());
                }
                listResult[j] = sum;
                if (j == 3 || j == 6 || j == 9 || j == 12 || j == 15 || j == 18 || j == 21 || j == 24 || j ==27 || j ==30 || j==33 || j==36)
                {
                    double result = Math.Round((listResult[j - 1] - listResult[j - 2]) / listResult[j - 2] * 100, 2);
                    <td style="color:red">@result.ToString("N2")</td>
                }
                else
                {
                    <td style="color:red">@sum.ToString("N2")</td>
                }
            }
            <td style="color:red">@sumTotal2019.ToString("N2")</td>
            <td style="color:red">@sumTotal2020.ToString("N2")</td>
            <td style="color:red">@Html.Raw(Math.Round((sumTotal2020 - sumTotal2019) / sumTotal2019 * 100, 2).ToString("N2"))</td>

        </tr>

    </tbody>

</table>

@*<script>

    egovutil.CreateTableSort("#tbl-report", [[0, "asc"]], [

        {

            "orderable": true, "targets": [0, 0]
        }
        ], true);
</script>*@
