@{
    Layout = null;

}

<ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">

    <li class="heading" >
       
        <h3 class="uppercase" style="color:white!important"> HÀNG NHẬP</h3>
    </li>
    <li class="nav-item" >
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fas fa-search"></i>
            <span class="title">TRA CỨU</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item ">
                <a href="/home" data-url="/home">
                    <i class="fas fa-plane-arrival"></i> 
                    <span class="title">LỊCH BAY</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/awbdetail">
                    <i class="icon-book-open"></i>
                    <span class="title">VẬN ĐƠN</span>
                </a>
            </li>
            <li class="nav-item " style="@Html.Raw(ViewBag.CheckView == "true"? "" : "display:none")">
                <a class="log-page" data-url="/EInvoice">
                    <i class="fas fa-money-bill-alt"></i>
                    <span class="title">HÓA ĐƠN ĐIỆN TỬ</span>
                </a>

            </li>


        </ul>

    </li>
    <li class="nav-item" style="@Html.Raw(ViewBag.CheckView == "true"? "" : "display:none")">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fas fa-tools "></i>
            <span class="title">TOOLS</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a class="log-page" data-url="/HawbManagement">
                    <i class="fas fa-shipping-fast"></i>
                    <span class="title">Quản lý hàng nhanh</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/companybussiness">
                    <i class="fas fa-info"></i>
                    <span class="title">Thông tin ủy quyền</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/customerregister">
                    <i class="fas fa-pen "></i>
                    <span class="title">Đăng ký kinh doanh</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/message">
                    <i class="fas fa-mail-bulk "></i>
                    <span class="title">Kiểm soát báo hàng</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="log-page" data-url="/sita">
                    <i class="fas fa-chart-area "></i>
                    <span class="title">Thống kê điện FSU</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/kscb">
                    <i class="fas fa-check"></i>
                    <span class="title">KS CB</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/DlvVct">
                    <i class="fas fa-barcode"></i>
                    <span class="title">DLV XML</span>
                </a>
            </li>


        </ul>

    </li>
    <li class="heading" >
        <h3 class="uppercase" style="color:white!important"> HÀNG XUẤT</h3>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fas fa-search"></i>
            <span class="title">TRA CỨU</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="/flightexp" data-url="/flightexp">
                    <i class="fas fa-plane-departure"></i> 
                    <span class="title">LỊCH BAY</span>
                </a>
            </li>

            <li class="nav-item ">
                <a class="log-page" data-url="/expawb">
                    <i class="fa fa-book"></i>
                    <span class="title">VẬN ĐƠN</span>
                </a>
            </li>
            <li class="nav-item" style="@Html.Raw(ViewBag.CheckView == "true"? "" : "display:none")">
                <a class="log-page" data-url="/EInvoiceExport">
                    <i class="fas fa-money-bill-alt"></i>
                    <span class="title">HÓA ĐƠN ĐIỆN TỬ</span>
                </a>
            </li>


        </ul>

    </li>
    <li class="nav-item" style="@Html.Raw(ViewBag.CheckView == "true"? "" : "display:none")">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fas fa-tools "></i>
            <span class="title">TOOLS</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a class="log-page" data-url="/Issuemanagement">
                    <i class="icon-note"></i>
                    <span class="title">KS VCT</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/FLUP">
                    <i class="icon-grid"></i>
                    <span class="title">KS CHUYẾN BAY</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/FlupFlight">
                    <i class="icon-grid"></i>
                    <span class="title">KS Build Up</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/Issuemanagement/AWBConfirm">
                    <i class="icon-arrow-right "></i>
                    <span class="title">KS chứng từ</span>
                </a>
            </li>
        </ul>

    </li>
    <li class="heading" style="@Html.Raw(ViewBag.CheckHQ == "true"? "display:none" : "")">
        <h3 class="uppercase" style="color:white!important">THÔNG TIN CHUNG</h3>
    </li>
    <li class="nav-item" style="@Html.Raw(ViewBag.CheckView == "true"? "" : "display:none")">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-truck "></i>
            <span class="title">QUẢN LÝ XE</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a class="log-page" data-url="/CallTruck">
                    <i class="icon-arrow-right "></i>
                    <span class="title">ĐIỀU XE</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/CallTruck/ScanInOut">
                        <i class="icon-arrow-right "></i>
                        <span class="title">VÀO RA</span>
                    </a>
</li>
            @*<li class="nav-item">
                <a class="log-page" data-url="/CallTruck/InOut">
                    <i class="icon-arrow-right "></i>
                    <span class="title">SCAN QRCODE</span>
                </a>
            </li>*@
            <li class="nav-item">
                <a class="log-page" href="/Ticket">
                    <i class="icon-arrow-right "></i>
                    <span class="title">VÉ THÁNG</span>
                </a>
            </li>


        </ul>

    </li>
    <li class="nav-item" style="@Html.Raw(ViewBag.CheckHQ == "true"? "display:none" : "")">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-university"></i>
            <span class="title">KHO KÉO DÀI</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">

            <li class="nav-item ">
                <a class="log-page" data-url="/CheckGetInAlsx">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Danh sách hàng xuất</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="log-page" data-url="/AlsxExpAwbDetail">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Tra cứu hàng xuất</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="log-page" data-url="/AlsxImpAwb">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Tra cứu hàng nhập</span>
                </a>
            </li>
            @*<li class="nav-item ">
                    <a class="log-page" data-url="/ScanTicket/In">
                        <i class="icon-arrow-right "></i>
                        <span class="title">KSVR</span>
                    </a>
                </li>*@

        </ul>

    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle" style="@Html.Raw(ViewBag.CheckView == "true"? "" : "display:none")">
            <i class="fa fa-line-chart"></i>
            <span class="title">BÁO CÁO</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item ">
                <a class="log-page" data-url="/DirectorReport">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Ban Giám Đốc</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="log-page" data-url="/exportReport">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Xuất</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/impReport">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Nhập</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/HandlingReport">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Handling</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/BusinessReport">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Kinh doanh</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/AccountantReport">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Kế toán</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/HrReport">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Nhân sự</span>
                </a>
            </li>
        </ul>

    </li>
    <li class="heading" style="@Html.Raw(ViewBag.CheckHQ == "true"? "display:none" : "")">
        <h3 class="uppercase" style="color:white!important">QUẢN TRỊ &amp; CẤU HÌNH</h3>
    </li>
    <li class="nav-item " style="@Html.Raw(ViewBag.CheckView == "true"? "" : "display:none")">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-list "></i>
            <span class="title">QUẢN TRỊ</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item ">
                <a class="log-page" data-url="/member">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Quản lý thành viên</span>
                </a>

            </li>
            @*<li class="nav-item">
                <a class="log-page" data-url="/organization">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Phòng ban</span>
                </a>
            </li>*@
            <li class="nav-item">
                <a class="log-page" data-url="/Email">
                    <i class="icon-envelope"></i>
                    <span class="title">Quản lý Email</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="kscb/soptime">
                    <i class="icon-arrow-right "></i>
                    <span class="title">SOP TIME</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="kscb/warningtime">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Warning Time</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/holiday">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Holiday</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/holiday/IndexConfig">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Location</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="log-page" data-url="/PrintManagement">
                    <i class="icon-arrow-right "></i>
                    <span class="title">Máy In</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<script>
    $(".nav-item a").on("click", function () {

        $(".nav-item.active").removeClass("active")
        $(this).parent().addClass("active");
    });

    $(".log-page").click(function () {
        egovutil.loadUrlMain($(this).attr("data-url"));
    });
</script>